@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.cards {
  position: relative;
}

.card {
  margin: .75em;
  padding: 0;
  display: block;
}

.card-img {
  width: 50px;
  margin: auto;
  display: block;
}

.card-body {
  padding: 0;
  margin: 1.3em 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

@media only screen and (min-width:25em) {

  .card-img {
    display: inline-block;
    margin: 0 .75em .45em 0;
  }

  .card-body {
     margin: 0 0 1.3em;
     display: inline-block;
     max-width: 18em;
 }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .cards {
    margin-left: .4em;
  }

  .card-img {
    display: block;
    margin: auto;
  }

  .card-body {
    margin: 1.4em 0;
    max-width: 10em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .card-body {
    margin: 1.3em 0;
    max-width: 15em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .cards {
    margin: 0 .5em;
  }

  .card-img {
    display: inline-block;
    margin: 1em .4em;
  }

  .card-body {
    margin: 0;
    max-width: 18em;
  }

}
